@tailwind base;

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-[#fff] dark:bg-geist-dark;
}

@tailwind components;
@tailwind utilities;
